{% extends "layout.html" %}
{% block body %}



{% for item in s_items %}
<div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          {% set fname='images/' + item.img_file %}
          <img class="card-img-top" src="{{ url_for('static', filename=fname) }}" alt="image loading issue">
          <div class="card-body">
            <h4 class="card-title">{{item.ser_title}}</h4>
            <p class="card-text">{{item.content}}</p>
          </div>
          <div class="card-footer">
            <a href="http://127.0.0.1:5000/services/{{item.slug}}" class="btn btn-primary">Find more on {{item.ser_title}}</a>
          </div>
        </div>
      </div>
  </div>
      

  {% endfor %}


 <div class="clearfix">
          {% if number!= 0 %}
          <a class="btn btn-primary float-left" href="{{prev}}">&larr; Previous</a> 
          {% endif %}
          <a class="btn btn-primary float-right" href="{{next}}">Next &rarr;</a>
</div>


{% endblock %}