{% extends "layout.html" %}
{% block body %}



{% for item in items %}
<!-- <li><a href="/items/{{items.slug}}">{{items.ser_title}} -->
<div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          {% set fname='images/' + item.img_file %}
          <img class="card-img-top" src="{{ url_for('static', filename=fname) }}" alt="image loading issue">
          <div class="card-body">
            <h4 class="card-title">{{item.ser_title}}</h4>
            <p class="card-text">{{item.content}}</p>
          </div>
          <div class="card-footer">
            <a href="http://127.0.0.1:5000/services/{{item.slug}}" class="btn btn-primary">Find more on {{item.ser_title}}</a>
          </div>
        </div>
      </div>



      <!-- <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/customer2.jpg') }}" alt="image loading issue">
          <div class="card-body">
            <h4 class="card-title">Reliability</h4>
            <p class="card-text">Reliability has to do with the quality of measurement. In its everyday sense, reliability is the “consistency” or “repeatability” of your measures. Before we can define reliability precisely we have to lay the groundwork</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/customer1.jpg') }}" alt="image loading issue">
          <div class="card-body">
            <h4 class="card-title">Security</h4>
            <p class="card-text">Security is freedom from, or resilience against, potential harm (or other unwanted coercive change) caused by others. Beneficiaries (technically referents) of security may be of persons and social groups, objects and institutions, ecosystems or any other entity or phenomenon vulnerable to unwanted change.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="{{ url_for('static', filename='images/customer1.jpg') }}" alt="image loading issue">
          <div class="card-body">
            <h4 class="card-title">Security</h4>
            <p class="card-text">Security is freedom from, or resilience against, potential harm (or other unwanted coercive change) caused by others. Beneficiaries (technically referents) of security may be of persons and social groups, objects and institutions, ecosystems or any other entity or phenomenon vulnerable to unwanted change.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div> -->
      </div>
    <<!-- /div>
    

  </div> -->
<!-- </a></li> -->
{% endfor %}
{% endblock %}